*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,sans-serif;
}

body{
    background:#0b1120;
    color:#fff;
    overflow-x:hidden;
}

.background-animation{
    position:fixed;
    width:100%;
    height:100%;
    background:
    radial-gradient(circle at top left,#4f46e580,transparent 40%),
    radial-gradient(circle at bottom right,#06b6d480,transparent 40%);
    z-index:-1;
    animation:bgMove 10s infinite alternate;
}

@keyframes bgMove{
    from{
        transform:scale(1);
    }
    to{
        transform:scale(1.2);
    }
}

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 40px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(20px);
    border-bottom:1px solid rgba(255,255,255,.1);
}

.logo{
    font-size:28px;
    font-weight:bold;
}

.logo span{
    color:#38bdf8;
}

nav{
    display:flex;
    gap:25px;
}

nav a{
    color:#fff;
    text-decoration:none;
    transition:.3s;
}

nav a:hover{
    color:#38bdf8;
}

.login-btn{
    background:#4f46e5;
    color:#fff;
    border:none;
    padding:12px 22px;
    border-radius:12px;
    cursor:pointer;
    transition:.3s;
}

.login-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 0 20px #4f46e5;
}

.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero span{
    color:#38bdf8;
}

.hero p{
    font-size:22px;
    opacity:.8;
}

.hero-buttons{
    margin-top:40px;
    display:flex;
    gap:20px;
}

.hero-buttons button{
    padding:16px 30px;
    border:none;
    border-radius:15px;
    cursor:pointer;
    color:white;
    background:linear-gradient(135deg,#4f46e5,#06b6d4);
    transition:.4s;
}

.hero-buttons button:hover{
    transform:translateY(-6px) scale(1.05);
    box-shadow:0 15px 35px rgba(79,70,229,.5);
}

@media(max-width:768px){

.navbar{
padding:15px 20px;
}

nav{
display:none;
}

.hero h1{
font-size:38px;
}

.hero-buttons{
flex-direction:column;
width:100%;
}

.hero-buttons button{
width:100%;
}

}


